@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import "./node_modules/sweetalert2/dist/sweetalert2.css";

/*Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/****  Header  ****/

header {
    background: #111;
}

// liste resultats
.spanbtn {
    cursor: zoom-in;
    border-radius: 50%;
    // border:2px solid #679403;
    display: inline-flex;
    background-color: #679403;
}

.headline {
    position: relative;
    height: 400px;
    color: #fff;
    text-align: center;
    background: url('./assets/image/mainBg.jpg') no-repeat center center;
    background-size: cover;
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#111, 0.5);
    }
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
    h1 {
        margin: 0;
        font-size: 4em;
        line-height: 1.2em;
    }
    p {
        margin: 0;
        font-size: 1.4em;
        font-style: italic;
        font-family: serif;
    }
}

nav {
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 10;
    &.scrolled {
        background: rgba(#111, 0.9);
    }
    ul {
        float: right;
        list-style: none;
        padding: 25px;
        margin: 0;
    }
    li {
        float: left;
    }
    a {
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        margin: 5px 0 0 20px;
        display: block;
        &:hover {
            color: darken(#fff, 7%);
        }
    }
}

.logo {
    height: 95px;
    float: left;
    &:before,
    &:after {
        position: absolute;
        font-size: 7em;
        font-weight: 300;
        line-height: 0;
        color: #fff;
        top: 25px;
    }
    &:before {
        content: '\00BB';
        left: 20px;
    }
    &:after {
        content: '\00AB';
        left: 34px;
    }
}

section {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
}

.bcenter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn {
    align-self: center;
    align-items: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #41403E;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px #2c3e50(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
    &:hover {
        box-shadow: 2px 8px 4px -6px #2c3e50;
    }
    &.lined.thick {
        border: solid 7px #2c3e50;
    }
    &.dotted.thick {
        border: dotted 5px #2c3e50;
    }
    &.dashed.thick {
        border: dashed 5px #2c3e50;
    }
    &.lined.thin {
        border: solid 2px #2c3e50;
    }
    &.dotted.thin {
        border: dotted 2px #2c3e50;
    }
    &.dashed.thin {
        border: dashed 2px #2c3e50;
    }
}

;
// le contenu accodeon 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin: 10px;
}

$midnight: #2c3e50;
$clouds: #ecf0f1;
h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

h2 {
    margin: 0 0 .5em;
    font-weight: normal;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;
    flex-flow: row wrap;
    .col {
        flex: auto;
        /*         &:last-child {
          margin-left: 1em;
        } */
    }
}


/* Accordion styles */

.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $midnight;
        font-weight: bold;
        cursor: pointer;
        /* Icon */
        &:hover {
            background: darken($midnight, 10%);
        }
        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }
    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $midnight;
        background: white;
        transition: all .35s;
    }
    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $midnight;
        cursor: pointer;
        &:hover {
            background: darken($midnight, 10%);
        }
    }
}

// :checked
input:checked {
    +.tab-label {
        background: darken($midnight, 10%);
        &::after {
            transform: rotate(90deg);
        }
    }
    ~.tab-content {
        max-height: 100vh;
        // padding: 1rem;
    }
}

@media (max-width:620px) {
    body {
        h1 {
            margin-top: 2rem;
        }
        & section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;
            & .btn {
                align-self: center;
                margin-bottom: 2rem;
            }
        }
    }
}

;
.log1 {
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
    display: inline;
    height: 60px;
    width: 60px;
}

.logImg {
    width: 5%;
    height: auto;
}


/* alert au demarage */

.modal-window {
    position: fixed;
    background-color: #2c3e50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    &>div {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: #ffffff;
    }
    header {
        font-weight: bold;
    }
    h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}


/* Demo Styles */

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

small {
    color: #aaa;
}

#centre {
    text-align: center;
}

#ville {
    size: 10%;
}

// #hide{
//   display:none;
// }
.btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;
    i {
        padding-right: 0.3em;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// modal caret + arrets

/* MODAL
---------------------------*/

.modal-trigger {
    padding: 1em 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E8E8E8;
    border: 2px solid #000;
}

.modal-trigger:hover {
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(30, 30, 30, 0.8);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.modal-container {
    position: fixed;
    max-width: 1920x;
    top: 50%;
    left: 50%;
    z-index: 200;
    text-align: center;
    width: 90%;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content {
    position: relative;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.3s;
    background: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3em 0.4em;
    color: #333;
    font-size: 2em;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-content__img {
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.modal-content__img-caption {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: white;
    width: 100%;
    height: 30%;
}

.modal-content__img-caption p {
    padding: 1em;
}

.modal--show {
    visibility: visible;
}

.modal--show~.modal-overlay {
    visibility: visible;
    opacity: 1;
}

.modal--show .modal-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.w3-modal {
    z-index: 99999;
}

// la map
#mapid {
    position: relative;
    border-radius: 2px;
    height: 100%;
    min-height: 512px;
    width: 100%;
}